<%- include('partials/header') -%>
<body>
<div class="jumbotron centerd">
    <div class="container">
        <i class="fa-solid fa-key fa-6x"></i>
        <h1 class="display-3">Secrets</h1>
        <p class="lead">This is a simple website that allows you to submit your secrets anonymously.</p>
        <hr class="my-4">
        <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
</div>

<%- include('partials/footer') -%>